@import url('https://fonts.googleapis.com/css?family=Droid+Sans:700|EB+Garamond');

body {
	color: #FFFFFF;
	text-align: right;
	background: none; 
	font-family: helvetica;
	font-size: 20px;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
#one {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h1 {
	color: #FFBE29;
	font-size: 1.5em;
	font-family: 'Droid Sans', sans-serif;
}
nav {
	float: right;
	width: 40%;
}
a {
	text-decoration: none;
	color: #FFFDF8;
}
.tag-line {
	color: #FFFDF8;
	font-style: italic;
	font-size: 1.8em;
	font-family: 'Droid Sans', sans-serif;
}
p {
	font-size: 1em;
	text-align: center;
	color: #FFBE29;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
#lightbulb {
	width: 100%
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 1100px) {
	#left, #right {
		display: block;
		text-align: left;
		font-size: .75em;
	}
}
@media only screen and (max-width: 971px) {
	nav {
		float: none;
	}
}
