body {
	color: #FFFFFF;
	text-align: right;
	background: #000000; 
	background-size: cover;
	font-family: Helvetica;
}
h1 {
	color: #FFBE29;
	font-size: 26px;
}
#slogan {
	color: #FFFDF8;
	font-style: italic;
	font-size: 34px;
}
p {
	font-size: 22px;
}