body {
	color: #FFFFFF;
	text-align: right;
	background: url("https://cdn.pixabay.com/photo/2015/11/07/11/17/light-1030988_960_720.jpg"); 
	background-size: cover;
	font-family: Helvetica;
}
h1 {
	color: #FFBE29;
	font-size: 26px;
}
#slogan {
	color: #FFFDF8;
	font-style: italic;
	font-size: 34px;
}
p {
	font-size: 22px;
}
hr {
	color: #FFFFFF;
	width: 220px;
}
ul {
	list-style-type: none;
}
a {
	color: #FFBE29;
}
